{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <h3 class="home-content">欢迎访问我的博客网站</h3>
        <!-- 图表容器 DOM -->
    <div id="container"></div>
    <!-- 引入 highcharts.js -->
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <!-- 今天24小时内的热门博客 -->
    <h3>今天热门点击</h3>
    <ul>
        {% for data in hot_data %}
            <li><a href="{% url 'blog_detail' data.content_object.pk %}">
                {{ data.content_object.title }}</a>({{ data.read_num }})</li>

        {% empty %}
            <li>今天暂时没有热门博客</li>
        {% endfor %}
    </ul>
    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {text: null },                 // 标题
            xAxis: {
                categories: {{ dates|safe }},    // x 轴分类
                tickMarkPlacement: 'on',
                title: {'text': '前7日阅读变化趋势'}
            },
            yAxis: {
                title: {
                    text: null                // y 轴标题
                },
                labels: { enabled: false },
                gridLineDashStyle: 'Dash'
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false },
            credits: { enabled: false }
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}
